@page
@model DotgetPredavanje2.Pages.InstructionsDate.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InstructionsDate</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InstructionsDate.StudentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstructionsDate.StudentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InstructionsDate.ProfessorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstructionsDate.ProfessorId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InstructionsDate.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstructionsDate.DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InstructionsDate.StanjeZahtjevaID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstructionsDate.StanjeZahtjevaID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.InstructionsDate.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
